<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <h1 id="counterShow">{{count}}</h1>
        </div> <br>
        <div class="row">
            <div class="col-3">
                <div class="btn btn-success" (click)="handleIncrement()">Increment</div>
            </div>
            <div class="col-3">
                <div class="btn btn-warning" (click)="handleDecrement()">Increment</div>
            </div>
            <div class="col-3">
                <div class="btn btn-secondary" (click)="handleReset()">Reset</div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-3">
            <h3>User Name is:- {{Name}} </h3>
            <input type="text" (input)="getName($event)">
            <div class="btn btn-secondary">Get Value</div>
        </div>
    </div>
</div>