<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <h1 id="counterShow">{{count}}</h1>
        </div> <br>
        <div class="row">
            <div class="col-3">
                <div class="btn btn-success" (click)="handleIncrement()">Increment</div>
            </div>
            <div class="col-3">
                <div class="btn btn-warning" (click)="handleDecrement()">Increment</div>
            </div>
            <div class="col-3">
                <div class="btn btn-secondary" (click)="handleReset()">Reset</div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h3>User Name is:- {{displayname}}</h3>

            <input type="text" value="{{name}}" (input)="getName($event)"> <br>
            <div class="btn btn-secondary mt-2" (click)="showName()">Get Value</div>
        </div>
        <div class="col-3">
            <h3>Set Input Field</h3>
            <input class="form-control" value="{{name}}" type="text">
            <div class="btn btn-primary mt-2" (click)="setName()">Set Name</div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <h3>Get Value with template reference Variable:-</h3>
            <p> {{email}}</p>
            <input type="text" placeholder="Enter Email" class="form-control" #emailField> <br>
            <div class="btn btn-warning mt-2" (click)="getEmail(emailField.value)">Get Email</div>
        </div>
        <div class="col-3">
            <h3>Set Value temp reference var:-</h3>
            <!-- <p>{{email}}</p> -->
            <input type="text" placeholder="Enter Email" class="form-control" value="{{name}}" #emailField> <br>
            <div class="btn btn-outline-danger mt-2" (click)="setEmail()">Set Email</div>
        </div>

    </div>
</div>